@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';



.header{
  &-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
  }
  &-btn{
    height: 37px;
    width: 162px;
  }
}

.menu{
  flex-grow: 1;
  margin: 0 55px;
  &-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__item:hover{
      .dropdown{
        display: block;
      }      
    }
    &__link{
      padding: 26px 5px;
      position: relative;
      transition: all .3s;
      &::after{
        position: absolute;
        content: '';
        height: 2px;
        width: 0;
        background-color: $accent;
        left: 50%;
        bottom: 0;
        transition: all .5s;
        z-index: 11;
      }
      &:hover{
        color: $accent;
        &::after{
          width: 100%;
          left: 0;
        }
        .dropdown{
          display: block;
        }
      }
    }
  }
}

.dropdown{
  position: absolute;
  width: 100%;
  background-color: $white;
  border-top: 1px solid $border-color;
  top: 68px;
  left: 0;
  z-index: 10;
  display: none;
  animation: dropdown .5s ease;
  &-menu{
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px 10px 30px;
    display: flex;
  }
  &-menu__col{
    min-width: 200px;
    margin-right: 70px;
    &:last-child{
      margin-right: 0;
    }
  }
  &-menu__col-link{
    display: block;
    padding: 10px 0;
    transition: all .3s;
    &:hover{
      color: $accent;
      transform: translateX(5px);
    }
  }
}
@keyframes dropdown {
  from{
    transform: translateY(50px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}




.filter{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 55px 0 70px;
  &-top{
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    &__title{
      max-width: 610px;
    }
    &__text{
      max-width: 383px;
    }
  }

  &-form{
    background-color: $white;
    border-radius: 4px;
    padding-right: 150px;
    margin-bottom: 45px;
    position: relative;
    &__btn{
      width: 133px;
      height: 50px;
      position: absolute;
      top: 13px;
      right: 10px;
    }
  }

  &-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}

.select{
  display: flex;
  &-item{
    width: 100%;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      height: 100%;
      width: 1px;
      background-color: $border-color-3;
      top: 0;
      right: 0;
    }
    &:last-child::after{
      display: none;
    }
    &__title{
      padding: 26px 35px 26px 22px;
      cursor: pointer;
      position: relative;
      &::after{
        position: absolute;
        content: '';
        background-image: url(../images/angle.svg);
        width: 10px;
        height: 6px;
        top: 36px;
        right: 20px;
        transition: all .2s;
      }
      &.active{
        &::after{
          transform: rotate(180deg);
        }
      }
    }
    &__dropdown{
      padding: 0 20px 40px ;
      background-color: $white;
      box-shadow: 0px 835px 334px rgba(0, 0, 0, 0.01), 0px 470px 282px rgba(0, 0, 0, 0.05), 0px 209px 209px rgba(0, 0, 0, 0.09), 0px 52px 115px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      z-index: 10;
      min-width: 100%;
      max-height: 550px;
      overflow-y: auto;
      position: absolute;
      top: 76px;
      left: 0;
      display: none;
      animation: dropdown .2s ease;
      &.active{
        display: block;
      }
    }
  }

  
  &-flat{
    &-btns{
      display: inline-flex;
      margin-top: 30px;
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid $border-color-3;
      & .select-flat__label{
        display: flex;
        align-items: center;
        position: relative;
        &::after{
          position: absolute;
          content: '';
          width: 1px;
          height: 100%;
          background-color: $border-color-3;
          top: 0;
          right: 0;
        }
        &:last-child::after{
          display: none;
        }
      }
      & .select-flat__checkbox{
        padding: 14px 20px;
        cursor: pointer;
      }
      & .select-flat__input{
        @extend %input-none;
        &:checked + .select-flat__checkbox{
          background-color: $accent;
          color: $white;
        }
      }
    }

    &-check{
      padding: 26px 0 15px;
      position: relative;
      &::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: $border-color-3;
        left: 0;
        bottom: 0;
      }
      &:last-child::after{
        display: none;
      }

      & .select-flat__label{
        display: block;
        padding-left: 30px;
        margin-bottom: 15px;
        position: relative;
        cursor: pointer;
      }
      & .select-flat__checkbox{
        width: 21px;
        height: 21px;
        border-radius: 4px;
        background: linear-gradient(0deg, #ECECEC, #ECECEC), linear-gradient(0deg, #ECECEC, #ECECEC), #ECECEC;
        position: absolute;
        top: 0;
        left: 0;
      }
      & .select-flat__input{
        @extend %input-none;
        &:checked + .select-flat__checkbox{
          background: $accent;
          color: $white;
          &::after{
            position: absolute;
            content: '';
            background-image: url(../images/check.svg);
            width: 10px;
            height: 8px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  &-room{
    &-btns{
      display: flex;
      gap: 9px;
      margin-top: 30px;
      & .select-room__label{
        display: flex;
        width: 42px;
        height: 42px;
        border-radius: 4px;
        border: 1px solid $border-color-3;
        overflow: hidden;
      }
      & .select-room__checkbox{
        width: 42px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        cursor: pointer;
      }
      & .select-room__input{
        @extend %input-none;
        &:checked + .select-room__checkbox{
          background-color: $accent;
          color: $white;
        }
      }
    }
  }

  &-price{
    &__dropdown{
      padding: 26px 20px 36px;
    }
    &__label{
      display: block;
      position: relative;
    }
    &__span{
      position: absolute;
      line-height: 21px;
      top: 19px;
      right: 15px;
    }
    &__input{
      width: 300px;
      height: 58px;
      padding: 0 27px;
      border-radius: 4px;
      border: 1px solid $border-color-3;
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &-location{
    &-group{
      margin-top: 30px;
      color: $text-color;
    }
    &__label{
      display: flex;
      min-width: 320px;
      height: 30px;
      cursor: pointer;
    }
    &__input{
      @extend %input-none;
      &:checked + .select-location__checkbox{
        background-color: $accent;
        color: $white;
      }
    }
    &__checkbox{
      display: block;
      overflow: hidden;
      width: 100%;
      padding: 0 5px;
      margin-top: 5px; 
      color: $black;
    }
  }
}

.item{
  display: block;
  overflow: hidden;
  max-width: 415px;
  width: 100%;
  padding: 22px 33px;
  border-radius: 4px;
  color: $white;
  position: relative;
  animation: item-link 5s infinite;
  &-title{
    font-size: 21px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    z-index: 2;
  }
  &-text{
    max-width: 210px;
    margin-bottom: 35px;
    z-index: 2;
  }
  &-icon{
    transition: all .5s;
  }
  &-img{
    position: absolute;
    max-width: 170px;
    bottom: 0;
    right: 0;
    transition: all .5s;
    transform: rotate3d(0, 1, 0, 45deg);
  }
  &:nth-child(1){
    background-color: $red;
  }
  &:nth-child(2){
    background-color: $grey;
  }
  &:nth-child(3){
    background-color: $blue;
  }
  &:hover{
    .item-img{
      transform: rotate3d(0, 1, 0, 0deg);
    }
    .item-icon{
      transform: translateX(10px);
    }
  }
}
@keyframes item-link{
  0%{transform: translateY(0px);}
  50%{transform: translateY(20px);}
  100%{transform: translateY(0px);}
}

.exclusive{
  &-top{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__text{
      max-width: 520px;
    }
    &__title{
      font-size: 35px;
      line-height: 41px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    &__desc{
      color: $text-color;
    }
    &__btn{
      width: 272px;
      height: 58px;
    }
  }
  &-slider{
    position: relative;
  }
  &-slider-button-next, &-slider-button-prev{
    width: 38px;
    height: 38px;
    border-radius: 4px;
    background-color: $scrollbar-color;
    cursor: pointer;
    transition: all .3s;
    position: absolute;
    top: 42%;
    &::after{
      position: absolute;
      content: '';
      width: 13px;
      height: 12px;
      top: 50%;
      left: 50%;
      transform: translate(-50% , -50%);
    }
    &:hover{
      background-color: $accent;
    }
    &.swiper-button-disabled{
      opacity: .5;
      &:hover{
        cursor: not-allowed;
        background-color: $scrollbar-color;
      }
    }
  }
  &-slider-button-next{
    right: -60px;
    &::after{
      background-image: url(../images/slider-arrow-next.svg);
    }
  }
  &-slider-button-prev{
    left: -60px;
    &::after{
      background-image: url(../images/slider-arrow-prev.svg);
    }
  }
}

.swiper{
  padding-bottom: 66px;
  .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
    height: var(--swiper-scrollbar-size,6px);
    background-color: $scrollbar-color;
    border-radius: 0px;
    position: absolute;
    bottom: 30px;
  }
  .swiper-scrollbar-drag {
    cursor: pointer;
    background-color: $accent;
    border-radius: 0px;
  }
}
.slide{
  max-width: 1055px;
  height: 686px;
  position: relative;
  &-img{
    height: 100%;
  }
  &-content{
    padding: 20px 60px 50px 40px;
    color: $white;
    // background-color: rgba($color: $black, $alpha: .5);
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
  }
  &-info__price{
    font-size: 35px;
    font-weight: 600;
    line-height: 41px;
    margin-bottom: 10px;
  }
  &-info__object{
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  &-link-btn{
    width: 285px;
    height: 60px;
  }
  &--bonus{
    position: relative;
    &::after{
      position: absolute;
      content: 'Кухня в подарок';
      padding: 10px 20px;
      border-radius: 4px;
      color: $white;
      background-color: rgba($color: $black, $alpha: .8);
      top: 35px;
      left: 45px;
    }
  }
}


.footer{
  background-color: $grey-2;
  color: $text-color-2;
  &-top{
    border-bottom: 1px solid $border-color-2;
    &-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 105px;
    }
  }
  &-btn{
    width: 162px;
    height: 37px;
  }
  &-copy{
    &-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
    }
    &__social{
      transition: all .3s ease-out;
      svg path{
        fill: $grey-3;
        transition: all .3s;
      }
      &:hover{
        // transform: translate(0px, -2px);
        svg path{
          fill: $accent;
        }
      }
    }
  }
  .menu-list__link::after{
    display: none;
  }
}




/* media requests */
@import 'media';